<div class="container-fluid mt-2">
  <h5 class="font-weight-bold w-25 text-center ml-5">会員情報編集</h5>
  <div class="row mt-3 mx-auto">
    <div class="col-6 mx-auto">
      <%= form_with model: @customer,url: customer_path, method: :patch do |f| %>
        <%= render 'error_messages', customer: @customer %>
        <table class="table mt-5">
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name %></td>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana %></td>
            <td><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
            <td></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="2"><%= f.text_field :address, style: 'width: 500px;' %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :phone_number %></td>
            <td></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
            <td></td>
            <td><%= link_to "退会する", confirm_customer_path(@customer), class: "btn btn-danger" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>













