<h1>商品一覧</h1>
<%= link_to "新規登録", new_admin_item_path %>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><span><%= item.id %></span></td>
      <td>
        <%= link_to admin_item_path(item.id) do %>
          <span><%= item.name %></span>
        <% end %>
      </td>
      <td><span><%= item.value %></span></td>
      <td><span><%= item.genre.name %></span></td>
      <td>
        <%= "販売中" if item.is_on_sale == true %>
        <%= "販売停止中" if item.is_on_sale == false %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @items %>
