<div class="container">
  <div class="row my-5">
     <h5 class="font-weight-bold bg-light w-25 text-center">商品詳細</h5>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 text-center mt-3">
      <%= image_tag @item.get_image, :size =>'200x200' %>
    </div>
    <div class="col-lg-5">
      <table class="table lg ml-5 table-borderless">
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
           <tr>
            <th>商品説明</th>
            <td><%= @item.explanation %></td>
          </tr>
           <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
           <tr>
            <th>税込価格（税抜価格）</th>
            <td>
              <%= @item.add_tax_value %>円 （<%= @item.value %>円）
            </td>
          </tr>
           <tr>
            <th>販売ステータス</th>
           <td>
              <% if @item.is_on_sale == true %>
                <span class="text-success font-weight-bold">販売中</span>
              <% else %>
                <span class="text-danger font-weight-bold">販売停止中</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>




