<div class="container">
    <div class="row">
      <div class="col-2">
        <table border="1" style="border-collapse: collapse">
          <thead>
            <th class="font-weight-bold text-center pl-4 pr-4">ジャンル検索</th>
          </thead>
          <% @genres.each do |genre| %>
            <tbody>
              <td class="text-center p-1"><%= genre.name %></td>
            </tbody>
          <% end %>
        </table>
      </div>
      <div class="col-10">
            <div class="text-center" style=" font-size:30px; background-image: url('<%= asset_path('top_cake.jpg') %>'); background-size: cover; height: 450px;">
              <p>ようこそ、ながのCAKEへ！</p>
              <p>このサイトは、ケーキ販売のECサイトになります。</p>
              <p>会員でない方も商品の閲覧はできますが、</p>
              <p>購入には会員登録が必要になります。</p>
            </div>
            <h1>新着商品</h1>
            <table class="table table-borderless">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                    <% @items.each do |item| %>
                        <td>
                        <%= link_to item_path(item.id) do %>
                           <%= image_tag item.get_image, :size =>'100x100' %>
                           <p><%= item.name %></p>
                           <p>￥<%= item.add_tax_value.to_s(:delimited) %></p>
                        <% end %>
                        </td>
                    <% end %>
                    </tr>
                </tbody>
            </table>
            <%=link_to"全ての商品を見る>",items_path  %>
      </div>
  </div>
</div>


