<div class="container-fluid mt-2">
  <h5 class="font-weight-bold w-25 text-center ml-5"><%= @customer.last_name %><%=@customer.first_name %>さんの会員詳細</h5>
  <div class="row mt-3">
    <div class="col-8 mx-5">
      <table class="table lg ml-5 table-borderless">
        <tr>
          <td><b>会員ID</b></td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td><b>氏名</b></td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td><b>フリガナ</b></td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td><b>郵便番号</b></td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td><b>住所</b></td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td><b>電話番号</b></td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td><b>メールアドレス</b></td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td><b>会員ステータス</b></td>
          <td>
            <% if @customer.is_active == true %>
              <span class="text-success font-weight-bold">有効</span>
            <% elsif @customer.is_active == false %>
              <span class="text-danger font-weight-bold">退会</span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mt-2">
      <div class="text-center">
        <%=link_to"編集する",edit_admin_customer_path(@customer.id), class: 'btn btn-success' %>
        <%=link_to"注文履歴一覧を見る",admin_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

