<% if @address.errors.any? %>
 <%= @address.errors.count %>件のエラーが発生しました
 <ul>
   <% @address.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
 </ul>
<% end %>

<div class="container-fluid mt-2">
<h5 class="font-weight-bold w-25 text-center mb-5 ml-5">配送先編集</h5>
 <div class="row mx-auto mt-5">
  <div class="col-9 mx-auto">
    <%= form_with model: @address do |f| %>
      <table>
        <tbody>
          <tr>
            <td class="p-1">郵便番号(ハイフンなし)</td>
            <td class="p-1"><%= f.text_field :postal_code, placeholder: "0000000" %></td>
          </tr>
          <tr>
            <td class="p-1">住所</td>
            <td class="p-1"><%= f.text_field :address, size:"60*20", placeholder: "東京都新宿区新宿〇丁目〇−〇〇 成信ビル 〇階" %></td>
          </tr>
          <tr>
            <td class="p-1">宛名</td>
            <td class="p-1"><%= f.text_field :name, placeholder: "へのへのもへじ" %></td>
            <td class="pl-5"><%= f.submit '変更内容を保存',class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
     <% end %>
  </div>
 </div>
</div>