<div class="container-fluid mt-2">

  <% if @address.errors.any? %>
   <%= @address.errors.count %>県のエラーが発生しました
   <ul>
     <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
   </ul>
  <% end %>

  <h5 class="font-weight-bold ml-5 w-25 text-center">配送先登録/一覧</h5>
  <div class="row mx-auto mt-5">
    <div class="col-9 mx-auto">
      <%= form_with model: @address do |f| %>
        <table>
          <tbody>
            <tr>
              <td class="p-1">郵便番号(ハイフンなし)</td>
              <td class="p-1"><%= f.text_field :postal_code, placeholder: "0000000" %></td>
            </tr>
            <tr>
              <td class="p-1">住所</td>
              <td class="p-1"><%= f.text_field :address, size:"60*20", placeholder: "東京都新宿区新宿〇丁目〇−〇〇 成信ビル 〇階" %></td>
            </tr>
            <tr>
              <td class="p-1">宛名</td>
              <td class="p-1"><%= f.text_field :name, placeholder: "へのへのもへじ" %></td>
              <td class="pl-5"><%= f.submit '新規登録',class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-9 p-5 mt-3 mx-auto">
      <table border="1" style="border-collapse: collapse" cellpadding="10" >
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |addresses| %>
            <tr>
              <td><%= addresses.postal_code %></td>
              <td><%= addresses.address %></td>
              <td><%= addresses.name %></td>
              <td><%= link_to '編集する', edit_address_path(addresses.id), class: "btn btn-success" %>      <%= link_to '削除する', address_path(addresses.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

