<h3>注文履歴一覧</h3>

<table class="table">
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払い金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td>〒<%= order.postal_code %><br>
      <%= order.address %><br>
      <%= order.name %>様</td>
      <td>
        <% order.order_details.first(3).each do |order_detail| %>
          <%= order_detail.item.name %></br>
        <% end %>
        <!--余裕があったら4点以上の時に3点目のあと"他"ってつけたい-->
      </td>
      <td><%= order.payment_total %></td>
      <td><%= order.order_status_i18n %></td>
      <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>