<div class="container mt-5">
  <div class="row ">
    <div class="col ">
      <h2>ログイン</h2>
      <p class="pt-4">会員の方はこちらからログイン</p>
      <%= form_with model: @customer, url: customer_session_path do |f| %>
      <table class="table table-borderless ml-5" style="display:inline-block">
        <thead></thead>
        <tbody>
          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td colspan="5"><%= f.email_field :email, size:"60*20", autofocus: true, placeholder:"sample@example.com", autocomplete: "email" %></td>
          </tr>
          <tr>
            <th><%= f.label :パスワード %></th>
            <td><%= f.password_field :password, size:"60*20", autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit "ログイン" ,class: 'btn btn-primary mt-2 btn-lg' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
