<h1>商品一覧(全<%= @items.count %>件)</h1>

<% @item.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <%= image_tag item.get_image, :size =>'100x100' %>
    <p><%= item.name %></p>
    <p>￥<%= item.add_tax_value.to_s(:delimited) %>円</p>
  <% end %>
<% end %>
<%= paginate @item %><!--変わるかも-->
